@font-face {
  font-family: "Sky";
  src: url("./Sky_Med.woff2") format("woff2"),
  url("./Sky_Med.woff") format("woff"),
  url("./Sky_Med.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sky-reg";
  src: url("./Sky_Reg.woff2") format("woff2"),
  url("./Sky_Reg.woff") format("woff"),
  url("./Sky_Reg.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
}
button{
  outline: none;
}
.top {
  background-size: 100% 100%;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: "Sky-reg";
  font-size: 6.9px;
}
.left,.right{
  width: 50%;
  height: 100vh;
}
.left{
  background: url(./bg-left.png) center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left__name{
  width: 30%;
  margin-left: 5px;
}
.left__disc{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.left__text{
  margin-bottom: 5px;
  font-size: 2vw;
}
.left__text>span{
  font-family: "Sky";
}
.left__logo{
  width: 30%;
}
.right{
  background: url(./bg-right.png) center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.right__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.right__name{
  width: 70%;
  margin-left: 5px;
}
.right__disc{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.right__text{
  margin-bottom: 5px;
  font-size: 2vw;
}
.right__text>span{
  font-family: "Sky";
}
.right__logo{
  width: 45%;
}

/* .top__text{
  color: #fff;
  font-size: 6.9px;
  font-family: "Sky-reg";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top__text>span{
  font-family: "Sky";
}
.top__text1{
  margin-left: 10px;
  margin-bottom: 7px;
}
.top__text1>p{
  margin-bottom: 3px;
}
.top__img{
  width: 40%;
  margin-bottom: -5px;
}
.top__text2{
  margin-bottom: 5px;
}
.top__text2>p{
  margin-bottom: 3px;
}
.top__img1{
  width: 55%;
} */